.login{
  display: flex;
  flex-direction: column;
  height: 100vh;
  }

.login__header{
  height: auto;
}

.login__content{
  flex-grow : 1;
  margin-left: 15vw;
  margin-top: -12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  }

.login h2{
  margin-bottom: 16px;
  }

.login button{
  margin-top: 8px;
  width: auto;
  }

  