.seed-tracks{
    margin-top: 8px;
  }

.seed-tracks__track {
    border-bottom: 1px solid #D7D7D7;
    margin-right: 16px;
    width: calc(100%);
  
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    cursor: default;
  }
  
.seed-tracks__title{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 16px;
  }
  
 .seed-tracks__artist{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 16px;
  }
  
  .seed-tracks__x-icon{
  width: 24px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 8px;
  cursor: pointer;
  }