.toptracks{
    border: 2px solid black;
    border-radius: 20px;
    padding: 24px 32px 24px;
}

.toptracks button{
 margin-right: 6px;
 margin-bottom: 8px;
}

.toptracks__scroll-container{
    overflow-y:scroll;
    height:290px;
    width: 100%;
}

.toptracks__track {
    border-bottom: 1px solid #D7D7D7;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 16px;
    width: calc(100%-16px);

    display: flex;
    flex-direction: row;
    gap: 24px;

    cursor: pointer;
}

.toptracks__track:hover{
    background-color: #ededed;
}

.toptracks__track:active{
    background-color: #dadada;
}

.toptracks__track-number{
    padding-left: 16px;
    width: 15px;
}

.toptracks__track-title{
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toptracks__track-artist{
    width: 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 16px;
}

.toptracks__loader{
    margin-top: 16px;
}
